<div class="main">
	<div class="content">
		<h2 class="headline">{{headline}}</h2>
		<h2>A Node.js Boilerplate that does not rely on frameworks</h2>
		<h3>Features:</h3>
		<ul>
			<li>Simple templating using curly braces</li>
			<li>Serves static files</li>
			<li>Simple top level structure</li>
			<li>Easy routing</li>
		</ul>
		<p>
			<a href="https://nodejs.org/api/" target="_blank">Documentation</a>
		</p>
		<p>
			<a href="https://github.com/BrianDGLS/Node-Boilerplate" target="_blank">Fork Me</a>
		</p>
	</div>
</div>